@CHARSET "ISO-8859-1";


body {
			
			    /* Ubicación de la imagen */
		  background-image: url(view/images/fondo_azul.png);
		  height: 100%;
		
			}
			
			/*Estilos Base*/
			.contenedor-img {
	
			width: 200px;
			height: 150px;
			float: center;
			overflow: hidden;
			position: relative;
			text-align: center;
			cursor: default;
			background: #fff;
			margin: 10px;
			
			}
			.contenedor-img .mascara,.contenedor-img .contenido {
			width: 200px;
			height: 160px;
			position: absolute;
			overflow: hidden;
			top: 0;
			left: 0;
			}
			.contenedor-img img {
			display: block;
			position: relative;
			
			}
			.contenedor-img h2 {
			text-transform: uppercase;
			color: #fff;
			text-align: center;
			position: relative;
			font-size: 17px;
			padding: 3px;
			background: rgba(0, 0, 0, 0.9);
			margin: 10px 0 0 0;
			}
			.contenedor-img h6 {
			text-transform: uppercase;
			color: black;
			text-align: center;
			position: relative;
			font-size: 12px;
			font-weight:bold;
			padding: 0px;
			background: rgb(170,224,111); /* Old browsers */
			margin: 0px 0 0 0;
			}
			.contenedor-img p {
			font-size: 12px;
			position: relative;
			color: #fff;
			padding: 10px;
			text-align: center;
			font-weight: bold;
			}
			.contenedor-img a.link {
			display: inline-block;
			text-decoration: none;
			padding: 7px 14px;
			background: #222;
			color: #fff;
			text-transform: uppercase;
			box-shadow: 0 0 1px #000
			}
			.contenedor-img a.link:hover {
			box-shadow: 0 0 5px #000
			}
			/*agregado para link de favorito*/
			.contenedor-img a.linkfavorito {
			display: inline-block;
			text-decoration: none;
			padding: 5px;
			background: #222;
			color: #fff;
			text-transform: uppercase;
			box-shadow: 0 0 1px #000
			}
			
			/*Ejemplo 1*/
			.ejemplo-1 img {
			transition: all 0.2s linear;
			}
			.ejemplo-1 .mascara {
			opacity: 0;
			background-color: rgba(46,157,120, 0.7);
			transition: all 0.3s ease-in-out;
			}
			.ejemplo-1 h2 {
			transform: translateX(-200px);/*Desplazamos a la izquierda*/
			opacity: 0;
			transition: all 0.7s ease-in-out;
			}
			.ejemplo-1 p {
			transform: translateX(200px);/*Desplazamos a la derecha*/
			opacity: 0;
			transition: all 0.4s linear;
			}
			.ejemplo-1 a.link{
			opacity: 0;
			transition: all 0.4s ease-in-out;
			transform: translateY(100px)/*Desplazamos para abajo*/
			}
			.ejemplo-1:hover img {
			transform: scale(1.1);/*Damos un ligero zoom a la imagen*/
			}
			.ejemplo-1:hover .mascara {
			opacity: 1;
			}
			.ejemplo-1:hover h2,
			.ejemplo-1:hover p,
			.ejemplo-1:hover a.link {
			opacity: 1;
			transform: translateX(0px);/*Regresamos a las posiciones originales*/
			}
			.ejemplo-1:hover p {
			transition-delay: 0.1s;
			}
			.ejemplo-1:hover a.link {
			transition-delay: 0.2s; /*Aplicamos un pequeño retardo para que se muestre al final*/
			transform: translateY(0px);
			}
			
			/*principios*/
			.principioA img {
			transition: all 0.2s linear;
			}
			.principioA .mascara {
			opacity: 0;
			background-color: rgba(46,157,120, 0.7);
			transition: all 0.3s ease-in-out;
			}
			.principioA h2 {
			transform: translateX(-200px);/*Desplazamos a la izquierda*/
			opacity: 0;
			transition: all 0.7s ease-in-out;
			}
			.principioA p {
			transform: translateX(200px);/*Desplazamos a la derecha*/
			opacity: 0;
			transition: all 0.4s linear;
			}
			.principioA a.link{
			opacity: 0;
			transition: all 0.4s ease-in-out;
			transform: translateY(100px)/*Desplazamos para abajo*/
			}
			.principioA:hover img {
			transform: scale(1.1);/*Damos un ligero zoom a la imagen*/
			}
			.principioA:hover .mascara {
			opacity: 1;
			}
			.principioA:hover h2,
			.principioA:hover p,
			.principioA:hover a.link {
			opacity: 1;
			transform: translateX(0px);/*Regresamos a las posiciones originales*/
			}
			.principioA:hover p {
			transition-delay: 0.1s;
			}
			.principioA:hover a.link {
			transition-delay: 0.2s; /*Aplicamos un pequeño retardo para que se muestre al final*/
			transform: translateY(0px);
			}